<div class="ui-g">
  <div class="ui-g-12">
    <div class="card shadow-box ui-shadow-2">
      <!-- ------------------------------------
    Table Calls
------------------------------------ -->
      <p-growl [value]="msgs"></p-growl>
      <p-dataTable [value]="calls" selectionMode="single" [(selection)]="area" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [responsive]="true"
        [contextMenu]="forCall">
        <header>Запросы на звонки</header>
        <footer>
          <!--<div class="ui-helper-clearfix" style="width:100%; margin: 8px 0">
            <button type="button" pButton style="float:right" (click)="showDialog()" multiple="true" dropdown="true" label="Добавить"></button>
          </div>-->
        </footer>
        <p-column field="phone" header="Телефон" [filter]="false" [sortable]="true"></p-column>
        <p-column field="email" header="Электронная почта" [filter]="false" [sortable]="true"></p-column>
        <p-column field="service" header="Услуга" [filter]="false" [sortable]="true"></p-column>
        <p-column field="created_at" header="Создан в" [filter]="false" [sortable]="true"></p-column>
      </p-dataTable>
      <p-paginator rows="20" totalRecords="{{pag.count}}" pageLinkSize="10" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<p-contextMenu #forCall [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
