<body class="landing-body">
  <p-growl [value]="msgs"></p-growl>
  <div class="landing-wrapper">
    <!-- ------------------------------------
    Header
------------------------------------ -->
    <div class="header" id="header">
      <div class="header-top clearfix">
        <span class="logo"></span>
        <a id="menu-button" href="#">
          <i class="material-icons">menu</i>
        </a>
        <ul id="menu" class="animated text-left">
          <li class="menu__item">
            <a pageScroll href="#home" class="menu__link menu__link--active">Главная</a>
          </li>
          <li class="menu__item">
            <a pageScroll href="#services" class="menu__link">Наши услуги</a>
          </li>
          <li class="menu__item">
            <a pageScroll href="#about" class="menu__link">О нас</a>
          </li>
          <li class="menu__item">
            <a pageScroll href="#contact" class="menu__link">Контакты</a>
          </li>
        </ul>
        <div class="header__info ">
          <a href="tel:099-123-45-67" class="header__tel">(096) 530-16-16</a>
          <a href="tel:0532-57-98-32" class="header__tel">(095) 530-16-16</a>
          <a href="tel:0532-57-98-32" class="header__tel">(093) 530-16-16</a>
        </div>
        <button type="button" class="ui-ant-button ui-ant-button--small">Заказать звонок</button>
      </div>
    </div>
    <!-- ------------------------------------
Greeting
------------------------------------ -->
    <section class="greeting" id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-8 end">
            <h1 class="greeting__title">Агентство нового типа</h1>
            <h3 class="greeting__subtitle">Самый полный перечень услуг для бизнеса и частных лиц</h3>
            <a class="ui-ant-button ui-ant-button--large" pageScroll href="#services">Смотреть все услуги</a>
            <a type="button" class="ui-ant-button ui-ant-button--right" (click)="showReg()">Зарегистрироваться</a>
          </div>
        </div>
      </div>
    </section>
    <div class="wrapper">
      <!-- ------------------------------------
Work
------------------------------------ -->
      <div class="container">
        <div class="row">
          <section class="work">
            <div class="col-md-12 text-center">
              <h3 class="ui-ant-title ui-ant-title--greeting">Как это работает</h3>
            </div>
            <div class="col-md-3  text-center">
              <div class="work__wrapper">
                <div class="work__step">
                  <img src="assets/images/phone.svg" alt="step">
                </div>
                <div class="work__info">
                  <h3 class="work__title">
                    Заявка на сайте
                  </h3>
                  <p class="work__desc">
                    Оставьте свой номер телефона в форме обратного звонка
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3  text-center">
              <div class="work__wrapper">
                <div class="work__step">
                  <img src="assets/images/dialog.svg" alt="step">
                </div>
                <div class="work__info">
                  <h3 class="work__title">
                    Звонок оператора
                  </h3>
                  <p class="work__desc">
                    Наш оператор свяжется с вами в течении 30 секунд
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3  text-center">
              <div class="work__wrapper">
                <div class="work__step">
                  <img src="assets/images/target.svg" alt="step">
                </div>
                <div class="work__info">
                  <h3 class="work__title">
                    Подбор услуг
                  </h3>
                  <p class="work__desc">
                    Подберет вам качественный сервис по приемлевой для вас цене
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3  text-center">
              <div class="work__wrapper">
                <div class="work__step">
                  <img src="assets/images/like.svg" alt="step">
                </div>
                <div class="work__info">
                  <h3 class="work__title">
                    Выполнение и оплата
                  </h3>
                  <p class="work__desc">
                    Получите услугу, оплатите выполнению роботу оставьте отзыв
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- ------------------------------------
Service
------------------------------------ -->
      <div class="container">
        <div class="row">
          <section class="service" id="services">
            <div class="col-md-12 text-center">
              <h3 class="ui-ant-title ui-ant-title--greeting">Наши услуги</h3>
            </div>
            <div class="col-md-3" *ngFor="let title of titles; let i = index;">
              <div class="service__card">
                <div class="card" [ngClass]="{'card--active': title.show}">
                  <div class="card__icon-container">
                    <div class="card__cell">
                      <img src="assets/images/{{title.img}}.svg" alt="img" class="card__icon card__icon--stretched">
                    </div>
                  </div>
                  <div class="card__content">
                    <div class="card__head">
                      <div class="card__title">
                        {{title.name}}
                      </div>
                      <div class="card__read-more">
                        <button type="button" class="button-read-more" (click)="isActive(i)">
                          <img src="assets/images/plus.svg" alt="plus">
                       </button>
                      </div>
                      <div class="card__control-container">
                        <button class="button-close-card" (click)="title.show = !title.show;">
                            <img src="assets/images/close.svg" alt="plus">
                      </button>
                      </div>
                    </div>
                  </div>
                  <div class="card__tabs">
                    <div class="card__tabs-content-wrapper">
                      <div class="card__tabs-content">
                        <div class="card-tab-content__description">
                          <ul class="card__list">
                            <li *ngFor="let work of title.works;  let i = index;" (click)="getCall($event, i, title.works)">
                              {{work.name}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- ------------------------------------
About
------------------------------------ -->
      <div class="container">
        <div class="row">
          <section class="about" id="about">
            <div class="col-md-6 about__image" style="background-image: url(assets/images/bg--video.jpg)">
            </div>
            <div class="col-md-6">
              <div class="about__info">
                <h3 class="ui-ant-title ui-ant-title--about">О компании</h3>
                <p class="about__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea beatae omnis deserunt dolores delectus maxime?
                  Sunt nemo ea harum repudiandae voluptatibus quod quas, odio sapiente officiis fugit amet nihil rem beatae
                  voluptas rerum? Veniam nulla quisquam commodi molestias, animi deleniti! Fugiat sapiente, culpa beatae
                  voluptate repudiandae. Molestiae suscipit qui quis id, impedit in assumenda nesciunt. Labore fuga pariatur
                  repellat quas.
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- ------------------------------------
Partner
------------------------------------ -->
      <div class="container">
        <div class="row">
          <section class="partner">
            <div class="partner__slider">
              <div class="partner__img" style="background-image:url(assets/images/misto.png)"></div>
              <div class="partner__img" style="background-image:url(assets/images/ekvator.png)"></div>
              <div class="partner__img" style="background-image:url(assets/images/kiev.png)"></div>
              <div class="partner__img" style="background-image:url(assets/images/palazzo.png)"></div>
              <div class="partner__img" style="background-image:url(assets/images/misto.png)"></div>
              <div class="partner__img" style="background-image:url(assets/images/vels.png)"></div>
            </div>
          </section>
        </div>
      </div>
      <!-- ------------------------------------
Contact
------------------------------------ -->
      <div class="container">
        <div class="row">
          <section class="contact">
            <div class="col-md-6 contact__img" style="background-image: url(assets/images/bg--contact.jpg)"></div>
            <div class="col-md-6">
              <div class="contact__info" id="contact">
                <h3 class="ui-ant-title ui-ant-title--contact">Оставьте заявку</h3>
                <form action="" class="ui-ant-form">
                  <input type="text" placeholder="Ваше имя">
                  <input type="text" placeholder="Ваш номер телефона">
                  <button type="submit" class="ui-ant-button ui-ant-button--form">Оставить заявку</button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-4 footer__logo">
            <img src="assets/images/logo.svg" class="logo" alt="logo">
          </div>
          <div class="col-md-6 text-center">
            <nav class="menu menu--footer">
              <ul>
                <li class="menu__item menu__item--footer">
                  <a pageScroll href="#home" class="menu__link menu__link--footer">
                Главная
              </a>
                </li>
                <li class="menu__item menu__item--footer">
                  <a pageScroll href="#services" class="menu__link  menu__link--footer">
                Наши услуги
              </a>
                </li>
                <li class="menu__item menu__item--footer">
                  <a pageScroll href="#about" class="menu__link  menu__link--footer">
                О нас 
              </a>
                </li>
                <li class="menu__item menu__item--footer">
                  <a pageScroll href="#contact" class="menu__link  menu__link--footer">
                Контакты
              </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-4 col-sm-8">
            <div class="footer__social">
              <a href="vk.com" class="ui-ant-icon ui-ant-icon--vk"></a>
              <a href="facebook.com" class="ui-ant-icon ui-ant-icon--fb"></a>
              <a href="twitter.com" class="ui-ant-icon ui-ant-icon--tw"></a>
              <a href="vk.com" class="ui-ant-icon ui-ant-icon--ok"></a>
              <a href="odnoklassniki.ru" class="ui-ant-icon ui-ant-icon--gp"></a>
              <a href="youtube.com" class="ui-ant-icon ui-ant-icon--yt"></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12   footer__copy">
            Разработка сайта - <a href="http://reactlogic.com.ua" class="footer__prod" title="Slesarev S" target="_blank">React Logic Agency</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- ------------------------------------
Registration Modal
------------------------------------ -->
  <p-dialog header="Регистрация" [(visible)]="dialogReg" [modal]="true" showEffect="fade" [responsive]="true" [draggable]="false"
    [resizable]="false">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [(ngModel)]="registration.secondName">
                <label>Фамилия</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name"  [(ngModel)]="registration.firstName">
                <label>Имя</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name"  [(ngModel)]="registration.patronymic">
                <label>Отчество</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name"  [(ngModel)]="registration.username">
                <label>Логин</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                   <p-inputMask mask="+380999999999" placeholder="Телефон" [(ngModel)]="registration.phone"></p-inputMask>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [(ngModel)]="registration.email">
                <label>Електронная почта</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="password"  pInputText autocomplete="off" [(ngModel)]="registration.password">
                <label>Пароль</label>
            </span>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="setRegistration()" label="Отправить" [disabled]="!(registration.secondName&&registration.firstName)"></button>
      </div>
    </footer>
  </p-dialog>
  <!-- ------------------------------------
Request Modal
------------------------------------ -->
  <p-dialog header="Заказать звонок" [(visible)]="dialogReq" [modal]="true" showEffect="fade" [responsive]="true" [draggable]="false"
    [resizable]="false">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:10px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="service" [(ngModel)]="request.service">
                <label>Услуга</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <p-inputMask mask="+380999999999" placeholder="Телефон" [(ngModel)]="request.phone"></p-inputMask>
          </span>
      </div>
    <div class="ui-g-12" style="margin-bottom:10px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="email" [(ngModel)]="request.email">
                <label>Электронный ящик</label>
            </span>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="setCall()" label="Отправить" [disabled]="!(request.service&&request.phone)"></button>
      </div>
    </footer>
  </p-dialog>
</body>
