<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <!-- ------------------------------------
    Table Branch
------------------------------------ -->
      <p-growl [value]="msgs"></p-growl>
                <h4>Выберите соответствующий Филиал, далее нажмите правую кнопку мишы и выберете нужный Вам пункт "<i class="fa ui-icon-edit"></i>Редактировать",
        "<i class="fa ui-icon-delete-forever"></i>Удалить"</h4>
      <p-dataTable [value]="items" (onRowSelect)="onRowSelect($event)" [responsive]="true" selectionMode="single" [contextMenu]="forBranch">
        <header>Филиалы</header>
        <p-column field="name" header="Имя" [filter]="false"></p-column>
        <p-column field="regions" header="Регионы" [filter]="false"></p-column>
        <p-column field="managers" header="Менеджеры" [filter]="false"></p-column>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0;">
            <button type="button" pButton style="float:right" (click)="showDialog()" label="Добавить"></button>
          </div>
        </footer>
      </p-dataTable>
      <p-paginator rows="20" totalRecords="{{pag.count}}" pageLinkSize="10" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<p-contextMenu #forBranch [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
<!-- ------------------------------------
    Modal Branch
------------------------------------ -->
<p-dialog header="Филиал" [(visible)]="dialog" [responsive]="true" showEffect="fade" [modal]="true" (onBeforeHide)="getBranches(pag.curr)">
  <div class="ui-g form-group">
    <div class="ui-g-12">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="branch.name">
                <label>Имя</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:60px">
      <p-multiSelect [options]="search.complete" id="multiselect" [(ngModel)]="search.result" overlayVisible="true" defaultLabel="Выберите регионы"></p-multiSelect>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="createBranch()" label="Создать" [disabled]="!(branch.name&&search.result)"></button>
      <button type="button" pButton (click)="updateBranch()" label="Обновить" [disabled]="!(branch.name&&search.result)"></button>
    </div>
  </footer>
</p-dialog>
