<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <!-- ------------------------------------
    Table Area
------------------------------------ -->
      <p-dataTable [value]="bids" selectionMode="single" [(selection)]="selectedBid" scrollHeight="680" (onRowSelect)="$event"
        [responsive]="true" [stacked]="stacked">
        <header>Заявки</header>
        <!--<p-column field="id" header="№, п/п" [filter]="false"></p-column>-->
        <p-column field="fio" header="ФИО" [filter]="false" [sortable]="false"></p-column>
        <p-column field="address" header="Адрес" [filter]="false" [sortable]="false"></p-column>
        <p-column field="service" header="Тип работ" [filter]="false" [sortable]="false"></p-column>
        <p-column field="master" header="Мастер" [filter]="false" [sortable]="false"></p-column>
        <p-column field="phone" header="Телефон" [filter]="false" [sortable]="false"></p-column>
        <p-column field="description" header="Описание" [filter]="false" [sortable]="false"></p-column>
        <p-column field="created_at" header="Создано в" [filter]="false" [sortable]="false"></p-column>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0;">
            <button type="button" pButton style="float:left" (click)="showCreateBid()" label="Добавить"></button>
            <!--<button type="button" pButton style="float:right;" (click)="deleteAddress()" label="Удалить"></button>-->
          </div>
        </footer>
      </p-dataTable>
    </div>
  </div>
</div>
