<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="/assets/layout/images/avatar.png" style="height:100px">
        </div>
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="text" pInputText autocomplete="off">
                <label>Имя</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="password" pInputText autocomplete="off">
                <label>Пароль</label>
            </span>
        </div>
        <div class="ui-g-12">
            <button type="button" pButton label="Вход" icon="ui-icon-person"></button>
            <button type="button" pButton label="Забыли пароль" icon="ui-icon-help" class="secondary"></button>
        </div>
    </div>
</div>