<p-growl [value]="msgs"></p-growl>
<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="/assets/layout/images/logo.svg" style="height:76px">
        </div>
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="text" pInputText autocomplete="off" [(ngModel)]="user.login">
                <label>Имя</label>
            </span>
        </div>
        <div class="ui-g-12">
            <span class="md-inputfield">
                <input type="password" pInputText autocomplete="off" [(ngModel)]="user.password">
                <label>Пароль</label>
            </span>
        </div>
        <div class="ui-g-12">
            <button type="button" pButton label="Вход" (click)="login()" (ngSubmit)="login()" ></button>
            <!--<button type="button" pButton label="Забыли пароль" class="secondary"></button>-->
        </div>
    </div>
</div>