<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
  <!-- ------------------------------------
    List Profile
------------------------------------ -->
  <div class="ui-g-12">
    <p-dataList [value]="profiles">
      <header>Профиль</header>
      <template let-property>
        <li style="padding:20px">
          <div class="ui-g">
            <div class="ui-g-4">Фамилия: </div>
            <div class="ui-g-8">{{property.second_name}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Имя: </div>
            <div class="ui-g-8">{{property.first_name}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Отчество: </div>
            <div class="ui-g-8">{{property.patronymic}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Телефон: </div>
            <div class="ui-g-8">{{property.phone}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Пол: </div>
            <div class="ui-g-8">{{property.sex}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">День рождения: </div>
            <div class="ui-g-8">{{property.birthday}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Скайп: </div>
            <div class="ui-g-8">{{property.skype}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Другие тел. н-ра:</div>
            <div class="ui-g-7">{{property.phones}}</div>
            <div class="ui-g-1"> <button type="button" pButton (click)="showDialog()" icon="fa ui-icon-edit" style="float:right"></button></div>
          </div>
        </li>
      </template>
    </p-dataList>
  </div>
  <!-- ------------------------------------
    Table Profile
------------------------------------ -->
  <!--<p-dataTable [value]="profiles" selectionMode="single" [(selection)]="selectedBid" scrollHeight="680" (onRowSelect)="$event"
        [responsive]="true" [stacked]="stacked">
        <header>Профиль</header>
        <p-column field="second_name" header="Фамилия" [filter]="false" [sortable]="false"></p-column>
        <p-column field="first_name" header="Имя" [filter]="false" [sortable]="false"></p-column>
        <p-column field="patronymic" header="Отчество" [filter]="false" [sortable]="false"></p-column>
        <p-column field="phone" header="Телефон" [filter]="false" [sortable]="false"></p-column>
        <p-column field="sex" header="Пол" [filter]="false" [sortable]="false"></p-column>
        <p-column field="birthday" header="День рождения" [filter]="false" [sortable]="false"></p-column>
        <p-column field="skype" header="Скайп" [filter]="false" [sortable]="false"></p-column>
        <p-column field="phones" header="Другие тел. н-ра" [filter]="false" [sortable]="false"></p-column>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0;">
            <button type="button" pButton style="float:right" (click)="showDialog()" label="Редактировать"></button>
          </div>
        </footer>
      </p-dataTable>-->
  <!-- ------------------------------------
    Modal Profile
------------------------------------ -->
  <p-dialog header="Профиль" width="340" [(visible)]="dialog" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getProfile()">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="profile.secondName">
                <label>Фамилия</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="profile.firstName">
                <label>Имя</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="profile.patronymic">
                <label>Отчество</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                   <p-inputMask mask="+380999999999" [size]="27" placeholder="Телефон" [(ngModel)]="profile.phone"></p-inputMask>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="skype" [size]="27" [(ngModel)]="profile.skype">
                <label>Скайп</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
      <label>Дата рождения</label>  
      <p-calendar [(ngModel)]="profile.birthday" [showTime]="true" [inline]="true" (onSelect)="getSeconds($event)" dateFormat="dd-mm-yy"
        hourFormat="24"></p-calendar>
                </span>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="updateProfile()" label="Сохранить" [disabled]="!(profile.secondName||profile.firstName||profile.patronymic||profile.phone)"></button>
      </div>
    </footer>
  </p-dialog>
  <!-- ------------------------------------
    List Account
------------------------------------ -->
  <div class="ui-g-12">
    <p-dataList [value]="accounts">
      <header>Аккаунт</header>
      <template let-acc>
        <li style="padding:20px">
          <div class="ui-g">
            <div class="ui-g-4">Логин: </div>
            <div class="ui-g-8">{{acc.username}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Електронная почта: </div>
            <div class="ui-g-8">{{acc.email}}</div>
          </div>
          <div class="ui-g">
            <div class="ui-g-4">Адрес:</div>
            <div class="ui-g-7">{{acc.default_address}}</div>
            <div class="ui-g-1"> <button type="button" pButton (click)="showAccount()" icon="fa ui-icon-edit" style="float:right"></button></div>
          </div>
        </li>
      </template>
    </p-dataList>
  </div>
  <!-- ------------------------------------
    Modal Account
------------------------------------ -->
  <p-dialog header="Аккаунт" [(visible)]="dialogAccount" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getAccount()">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:30px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="account.username">
                <label>Логин</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:30px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="account.email">
                <label>Електронная почта</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:30px">
        <span class="md-inputfield">
                <input type="password" pInputText [size]="27" autocomplete="off" [(ngModel)]="account.password">
                <label>Пароль</label>
            </span>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="updateAccount()" label="Сохранить" [disabled]="!(account.username||account.email||account.password)"></button>
      </div>
    </footer>
  </p-dialog>
  <!-- ------------------------------------
    Table Phones
------------------------------------ -->
  <div class="ui-g-12">
    <p-panel header="Телефонные номера" [collapsed]="true" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p-dataTable [value]="phones" selectionMode="single" [(selection)]="selectedBid" scrollHeight="680" (onRowSelect)="onRowPhone($event)"
        [responsive]="true" [stacked]="stacked" [contextMenu]="forPhone">
        <header>Телефоны</header>
        <p-column field="id" header="№, п/п" [filter]="false" [sortable]="false"></p-column>
        <p-column field="phone" header="Телефоны" [filter]="false" [sortable]="false"></p-column>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0;">
            <button type="button" pButton style="float:right" (click)="showDialogPhone()" label="Добавить"></button>
          </div>
        </footer>
      </p-dataTable>
    </p-panel>
  </div>
  <p-contextMenu #forPhone [model]="tieredPhone" [style]="{'width':'12.5em'}"></p-contextMenu>
  <!-- ------------------------------------
    Modal Phones
------------------------------------ -->
  <p-dialog header="Телефон" [(visible)]="dialogPhone" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getPhones()">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:30px">
        <span class="md-inputfield">
                   <p-inputMask mask="+380999999999" [size]="27" placeholder="Телефон" [(ngModel)]="phone.complete"></p-inputMask>
            </span>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="createPhone()" label="Создать" [disabled]="!(phone)"></button>
      </div>
    </footer>
  </p-dialog>
  <!-- ------------------------------------
    Table Address
------------------------------------ -->
  <div class="ui-g-12" *ngIf="role!='master'">
    <p-panel header="Адреса" [collapsed]="false" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      <p-dataTable [value]="addresses" selectionMode="single" [(selection)]="selectedBid" scrollHeight="680" (onRowSelect)="onRowSelect($event)"
        [responsive]="true" [stacked]="stacked" [contextMenu]="forAddress">
        <header>Профиль</header>
        <p-column field="area" header="Город" [filter]="false" [sortable]="false"></p-column>
        <p-column field="street" header="Улица" [filter]="false" [sortable]="false"></p-column>
        <p-column field="house" header="Дом" [filter]="false" [sortable]="false"></p-column>
        <p-column field="description" header="Описание" [filter]="false" [sortable]="false"></p-column>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0;">
            <button type="button" pButton style="float:right" (click)="showAddress()" label="Добавить"></button>
          </div>
        </footer>
      </p-dataTable>
    </p-panel>
  </div>
  <p-contextMenu #forAddress [model]="tieredAddress" [style]="{'width':'12.5em'}"></p-contextMenu>
  <!-- ------------------------------------
    Modal Address
------------------------------------ -->
  <p-dialog header="Адрес" [(visible)]="dialogAddress" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getAddress()">
    <div class="ui-g form-group">
      <div class="ui-g-12" style="margin-bottom:20px">
        <p-autoComplete [(ngModel)]="street.complete" [suggestions]="street.result" (completeMethod)="searchStreet($event)" field="name"
          [size]="27" placeholder="Поиск улицы" [minLength]="3" (onSelect)="streetSelected($event)" (onUnselect)="showArea = true" required></p-autoComplete>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px" *ngIf="showArea"  >
        <p-autoComplete [(ngModel)]="area.complete" [suggestions]="area.result" (completeMethod)="searchAreas($event)" field="name"
          [size]="27" placeholder="Поиск нас. пункта" [minLength]="3" (onSelect)="address.area = $event.id" required></p-autoComplete>
      </div>
      <div class="ui-g-12" style="margin-bottom:20px">
        <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="address.house">
                <label>Дом</label>
            </span>
      </div>
      <div class="ui-g-12" style="margin-bottom:30px">
        <p-checkbox [(ngModel)]="address.isDefault" binary="true" label="По умолчанию"></p-checkbox>
      </div>
      <div class="ui-g-12" style="margin-bottom:30px">
        <textarea rows="5" cols="27" pInputTextarea placeholder="Описание" [(ngModel)]="address.description"></textarea>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="createAddress()" label="Создать" [disabled]="!(street.id&&address.house)"></button>
        <!--<button type="button" pButton (click)="updateArea()" label="Обновить" [disabled]="!(street.id)"></button>-->
      </div>
    </footer>
  </p-dialog>
</div>
