<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <!-- ------------------------------------
    Table Master
------------------------------------ -->
      <p-growl [value]="msgs"></p-growl>
      <h4>Выберите соответствующего Мастера, далее нажмите правую кнопку мишы и выберете  нужный Вам пункт  "<i class="fa ui-icon-search"></i>Детально", "<i class="fa ui-icon-delete-forever"></i>Удалить"</h4>
      <p-dataTable [value]="items" selectionMode="single" [(selection)]="master" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        [responsive]="true" [contextMenu]="forMaster">
        <header>Мастера</header>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0"><button type="button" pButton style="float:right" (click)="showDialog()" label="Добавить"></button></div>
        </footer>
        <p-column field="fullName" header="Имя" [filter]="false" [sortable]="true"></p-column>
        <p-column field="companyName" header="Компания" [filter]="false" [sortable]="true"></p-column>
        <p-column field="services" header="Услуги" [filter]="false" [sortable]="true"></p-column>
        <p-column field="areas" header="Нас. пункт" [filter]="false" [sortable]="true"></p-column>
        <p-column field="rating" header="Рейтинг" [filter]="false" [sortable]="true"></p-column>
      </p-dataTable>
      <p-paginator rows="20" totalRecords="{{pag.count}}" pageLinkSize="10" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<p-contextMenu #forMaster [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
<!-- ------------------------------------
    Modal Master
------------------------------------ -->
<p-dialog header="Мастер" [(visible)]="dialog" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getMasters(pag.curr)">
  <div class="ui-g form-group">
    <div class="ui-g-12">
              <p-autoComplete  [(ngModel)]="user.complete" [suggestions]="user.result" (completeMethod)="searchUser($event)" field="second_name"
        [size]="27" placeholder="Пользователь" [minLength]="3" (onSelect)="user.id = $event.id" required></p-autoComplete>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <p-autoComplete  [(ngModel)]="company.complete" [suggestions]="company.result" (completeMethod)="searchCompany($event)" field="name"
        [size]="27" placeholder="Компания" [minLength]="3" (onSelect)="company.id = $event.id" required></p-autoComplete>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="createMaster()" label="Создать" [disabled]="!(user.id&&company.id)"></button>
      <!--<button type="button" pButton (click)="updateMaster()" label="Обновить" [disabled]="!(user.id&&company.id)"></button>-->
    </div>
  </footer>
</p-dialog>
