<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <!-- ------------------------------------
    Table User
------------------------------------ -->
      <p-growl [value]="msgs"></p-growl>
      <h4>Выберите соответствующего Пользователя, далее нажмите правую кнопку мишы и выберете  нужный Вам пункт "<i class="fa ui-icon-edit"></i>Изменить роль", "<i class="fa ui-icon-block"></i>Заблокировать", "<i class="fa ui-icon-beenhere"></i>Разблокировать", "<i class="fa ui-icon-delete-forever"></i>Удалить"</h4>
      <p-dataTable [value]="items" selectionMode="single" [(selection)]="street" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        [responsive]="true" [contextMenu]="forUser">
        <header>Пользователи</header>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0"><button type="button" pButton style="float:right" (click)="showDialog()" label="Добавить"></button></div>
        </footer>
        <p-column field="role" header="Роль" [filter]="false"></p-column>
        <p-column field="second_name" header="Фамилия" [filter]="false"></p-column>
        <p-column field="first_name" header="Имя" [filter]="false"></p-column>
        <p-column field="patronymic" header="Отчество" [filter]="false"></p-column>
        <p-column field="phone" header="Телефон" [filter]="false"></p-column>
        <p-column field="email" header="Почта" [filter]="false"></p-column>
        <p-column field="status" header="Статус" [filter]="false"></p-column>
        <p-column field="default_address" header="Адрес" [filter]="false"></p-column>
      </p-dataTable>
      <p-paginator rows="20" totalRecords="{{pag.count}}" pageLinkSize="10" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<p-contextMenu #forUser [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
<!-- ------------------------------------
    Modal User
------------------------------------ -->
<p-dialog header="Пользователь" [(visible)]="dialog" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getUsers(pag.curr)">
  <div class="ui-g form-group">
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="user.secondName">
                <label>Фамилия</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="user.firstName">
                <label>Имя</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="user.patronymic">
                <label>Отчество</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="user.email">
                <label>Почта</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <p-inputMask mask="+380999999999" [size]="27" placeholder="Телефон" [(ngModel)]="user.phone"></p-inputMask>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="user.userName">
                <label>Логин</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:30px">
      <span class="md-inputfield">
                <input pPassword type="password" id="password"  [size]="27"  promptLabel="Введите пароль"  [(ngModel)]="user.password">
                <label>Пароль</label>
            </span>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="createUser()" label="Создать" [disabled]="!(user.firstName&&user.secondName)"></button>
      <!--<button type="button" pButton (click)="updateUser()" label="Обновить" [disabled]="!(user.firstName&&user.secondName)"></button>-->
    </div>
  </footer>
</p-dialog>
<!-- ------------------------------------
    Modal Chage Role 
------------------------------------ -->
<p-dialog header="Роль" [(visible)]="dialogRole" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getUsers(pag.curr)">
      <div class="ui-g form-group">
        <p-dropdown [options]="userRoles" [(ngModel)]="user.roleChange" [filter]="false"
           [autoWidth]="false" [style]="{'width':'100%'}" [style]="{'padding-left':'12px'}" scrollHeight="100px"></p-dropdown>
      </div>
    <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="editUserRole()" label="Обновить" [disabled]="!(user.roleChange)"></button>
    </div>
  </footer>
</p-dialog>