<div [ngClass]="{'layout-wrapper':true,'layout-compact':layoutCompact}">
  <div [ngClass]="{'layout-container':true,'menu-layout-static':(layoutMode=='static'||layoutMode=='horizontal'),
            'menu-layout-overlay':(layoutMode=='overlay'),'menu-layout-horizontal':(layoutMode=='horizontal')}">
    <p-growl [value]="msgs"></p-growl>
    <!-- Top Bar -->
    <div class="topbar clearfix">
      <div class="topbar-left">
        <div class="logo"></div>
      </div>
      <div class="topbar-right">
        <a id="menu-button" href="#">
          <i></i>
        </a>
        <a id="topbar-menu-button" href="#">
          <i class="material-icons">menu</i>
        </a>
        <ul class="topbar-items fadeInDown animated">
          <li class="profile-item" [hidden]="profileMode!='top'&&layoutMode!='horizontal'">
            <a href="#">
              <div class="profile-image"></div>
              <!--<span class="topbar-item-name">Sergei Slesarev</span>-->
            </a>
            <ul class="ultima-menu animated">
              <li role="menuitem">
                <a href="#">
                  <i class="material-icons">person</i>
                  <span>Profile</span>
                </a>
              </li>
              <li role="menuitem">
                <a href="#">
                  <i class="material-icons">security</i>
                  <span>Privacy</span>
                </a>
              </li>
              <li role="menuitem">
                <a href="#">
                  <i class="material-icons">settings_applications</i>
                  <span>Settings</span>
                </a>
              </li>
              <li role="menuitem">
                <a href="#">
                  <i class="material-icons">power_settings_new</i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- Menu -->
    <div [ngClass]="{'layout-menu':true,'layout-menu-dark':false}">
      <div class="nano">
        <div class="nano-content menu-scroll-content">
          <div class="profile" [hidden]="profileMode!='inline'||layoutMode=='horizontal'">
            <div class="profile-image"></div>
            <a id="profile-options" href="#">
            </a>
          </div>
          <ul id="main-menu" class="ultima-menu clearfix">
            <!-- ------------------------------------
    Menu Items User
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a [routerLink]="['/dashboard/users']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-person-add"></i><span>Пользователи</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Item Message
------------------------------------ -->
            <li role="menuitem">
              <a [routerLink]="['/dashboard/messages']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-mail-outline"></i><span>Уведомления</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Item Binotel
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a [routerLink]="['/dashboard/binotel']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-phone-in-talk"></i><span>Звонки</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Item Requst
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a [routerLink]="['/dashboard/calls']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-alarm-add"></i><span>Запросы</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Item Bid
------------------------------------ -->
            <li role="menuitem" *ngIf="role!='master'">
              <a [routerLink]="['/dashboard/bids']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon ui-icon-record-voice-over"></i><span>Заявки</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Items Tasks
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='manager')">
              <a [routerLink]="['/dashboard/tasks']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-loupe"></i><span>Задания</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Items Address
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a class="ripplelink">
                <i class="material-icons">streetview</i><span>Адреса</span><i class="material-icons">keyboard_arrow_down</i>
              </a>
              <ul role="menu">
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/streets']" [routerLinkActive]="['active-menulink']"><i class="material-icons">streetview</i><span>Улицы</span><i class="material-icons">add</i></a>
                </li>
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/areas']" [routerLinkActive]="['active-menulink']">
                    <i class="material-icons">streetview</i><span>Нас. пункты</span><i class="material-icons">add</i>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/settlements']" [routerLinkActive]="['active-menulink']">
                    <i class="material-icons">streetview</i><span>Районные центры</span><i class="material-icons">add</i>
                  </a>
                </li>
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/regions']" [routerLinkActive]="['active-menulink']">
                    <i class="material-icons">streetview</i><span>Регионы</span><i class="material-icons">add</i>
                  </a>
                </li>
              </ul>
            </li>
            <!-- ------------------------------------
    Menu Items Branch
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a [routerLink]="['/dashboard/branches']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-pie-chart"></i><span>Филиалы</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Services
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a [routerLink]="['/dashboard/services']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-business-center"></i><span>Услуги</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Items Partners
------------------------------------ -->
            <li role="menuitem" *ngIf="(role!='client'&&role!='master')">
              <a class="ripplelink">
                <i class="fa ui-icon-group"></i><span>Партнёры</span><i class="material-icons">keyboard_arrow_down</i>
              </a>
              <ul role="menu">
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/masters']" [routerLinkActive]="['active-menulink']">
                    <i class="material-icons">streetview</i><span>Мастера</span><i class="material-icons">add</i>
                  </a>
                </li>
                <li role="menuitem" *ngIf="role!='manager'">
                  <a class="ripplelink" [routerLink]="['/dashboard/managers']" [routerLinkActive]="['active-menulink']"><i class="material-icons">streetview</i><span>Менеджеры</span><i class="material-icons">add</i></a>
                </li>
                <li role="menuitem">
                  <a class="ripplelink" [routerLink]="['/dashboard/companies']" [routerLinkActive]="['active-menulink']">
                    <i class="material-icons">streetview</i><span>Компании</span><i class="material-icons">add</i>
                  </a>
                </li>
              </ul>
            </li>
            <!-- ------------------------------------
    Menu Items Landing
------------------------------------ -->
            <li role="menuitem">
              <a [routerLink]="['/']" class="ripplelink">
                <i class="fa ui-icon-video-library"></i><span>Сайт</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Items Settings
------------------------------------ -->
            <li role="menuitem">
              <a [routerLink]="['/dashboard/settings']" [routerLinkActive]="['active-menulink']" class="ripplelink">
                <i class="fa ui-icon-settings"></i><span>Настройки</span>
              </a>
            </li>
            <!-- ------------------------------------
    Menu Items Logout
------------------------------------ -->
            <li role="menuitem">
              <a [routerLink]="['/login']" class="ripplelink" (click)="logout()">
                <i class="material-icons">power_settings_new</i>
                <span>Выход</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <router-outlet></router-outlet>
      <div class="footer">
        <div class="card clearfix">
          <span class="footer-text-left">React Logic Agency</span>
          <span class="footer-text-right"><span class="ui-icon ui-icon-copyright"></span> <span>All Rights Reserved</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
