<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <!-- ------------------------------------
    Table Area
------------------------------------ -->
      <p-growl [value]="msgs"></p-growl>
      <p-dataTable [value]="items" selectionMode="single" [(selection)]="area" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [responsive]="true"
        [contextMenu]="forArea">
        <header>Населённые пункты</header>
        <footer>
          <div class="ui-helper-clearfix" style="width:100%; margin: 8px 0">
            <button type="button" pButton style="float:right" (click)="showDialog()" multiple="true" dropdown="true" label="Добавить"></button>
          </div>
        </footer>
        <p-column field="id" header="№, п/п" [filter]="false"></p-column>
        <p-column field="name" header="Назавания" [filter]="false" [sortable]="true"></p-column>
        <p-column field="settlement" header="Район" [filter]="false" [sortable]="true"></p-column>
      </p-dataTable>
      <p-paginator rows="20" totalRecords="{{pag.count}}" pageLinkSize="10" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
<p-contextMenu #forArea [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
<!-- ------------------------------------
    Modal Area
------------------------------------ -->
<p-dialog header="Населенный пункт" [(visible)]="dialog" [modal]="true" showEffect="fade" [responsive]="true" (onBeforeHide)="getAreas(pag.curr)">
  <div class="ui-g form-group">
    <div class="ui-g-12" style="margin-bottom:10px">
      <span class="md-inputfield">
                <input type="text" pInputText  id="name" [size]="27" [(ngModel)]="area.name">
                <label>Имя</label>
            </span>
    </div>
    <div class="ui-g-12" style="margin-bottom:10px">
      <p-autoComplete  [(ngModel)]="search.complete" [suggestions]="search.result" (completeMethod)="searchSettlement($event)" field="name"
        [size]="27" placeholder="Район" [minLength]="3" (onSelect)="area.settlement = $event.id" required></p-autoComplete>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="createArea()" label="Создать" [disabled]="!(area.settlement&&area.name)"></button>
      <button type="button" pButton (click)="updateArea()" label="Обновить" [disabled]="!(area.settlement&&area.name)"></button>
    </div>
  </footer>
</p-dialog>
